body {
    font-family: 'Montserrat', sans-serif;
    color: #fc950e;
    font-size: x-large;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    background-image: url('back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column; /* Adicionado para centralizar verticalmente */
}

header {
    position: relative;
    font-size: small;
    color: #b6ba1c;
    padding: 20px;
    margin-bottom: -322px;
}

.poesia-container,
.poesia-container2,
.poesia-container3,
.poesia-container4 {
    display: flex;
    margin-top: 20px; /* Espaço entre cada linha de poesia */
    margin: 20px auto; /* Adiciona margem vertical e centraliza horizontalmente */
    max-width: 820px; /* Define uma largura máxima para os containers */
}

.poesia-line,
.poesia-line2,
.poesia-line3,
.poesia-line4 {
    margin-bottom: 10px; /* Espaço entre as linhas de poesia */
}